In [2]:
import pandas as pd

# 1. Pandas对象

## 1.1 Series

### 1.1.1 Series当numpy

In [7]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

数据绑定了一组索引

In [8]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [9]:
data.index

RangeIndex(start=0, stop=4, step=1)

### 1.1.2 Series当字典

In [6]:
data = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
data

a    1
b    2
c    3
d    4
dtype: int64

In [14]:
data['c']

3

如果索引是object的话，也可以用下标索引

In [16]:
data[1]

2

### 1.1.3 创建Series的几种方法

In [10]:
pd.Series([1, 2, 3])

0    1
1    2
2    3
dtype: int64

In [11]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [12]:
pd.Series({'a':1, 'b':2, 'c':3})

a    1
b    2
c    3
dtype: int64

In [13]:
pd.Series({'a':1, 'b':2, 'c':3}, index=['a', 'c'])

a    1
c    3
dtype: int64

## 1.2 DataFrame

# 合并与连接

In [3]:
df1 = pd.DataFrame({
    'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
    'group': ['Accounting', 'Engineering', 'Engineering', 'HR']
})

df2 =  pd.DataFrame({
    'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
    'hire_date': [2004, 2008, 2012, 2014]
})

In [8]:
print(df1); print(df2)

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR
  employee  hire_date
0     Lisa       2004
1      Bob       2008
2     Jake       2012
3      Sue       2014

pd.merge会自动寻找相同的列，并基于此进行拼接

In [9]:
pd.merge(df1, df2)

  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014